<!DOCTYPE html>
<head>
  <title>@ViewBag.title</title>
</head>
<body>
	<div style="heigt=150px; background-color;aquamarine font-size:40px">
  <h1 style="text-align:center">ITI</h1>
	</div>
	<div>
		@RenderBody()
  </div>
</body>